node_modules

.idea

yarn-error.log

.env

TODO

tmp

.DS_Store

docker

# dist
build/
dist/

# coverage
coverage
coverage.json

# typechain/factories
typechain-types/factories
src/abi/types/factories
hardhat.d.ts

src/subgraph/generated

#Hardhat files
cache
artifacts
